# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE settings
.vscode/
.idea/

# Gradle
.gradle/

# Logs
*.log

# Agents
lapras_agents/aircon_control_agent.py
lapras_agents/ir_agent.py
lapras_agents/light_agent.py
lapras_agents/microwave_control_agent.py
lapras_agents/smart_aircon_agent.py
lapras_middleware/virtual_agent.py
