#!/bin/bash

JAR_NAME="$jarName"
BASE_PACKAGE="kr.ac.kaist.cdsn.lapras.agents"
MAIN_CLASS_NAME="\$BASE_PACKAGE.\$2"
PROGRAM_ARGS=\${@:3}
JVM_ARGS="-Duser.resourcedir=\$(dirname \$0)/resources"
RUNNING_COMMAND="java -classpath \"\$JAR_NAME:.:lib/*\" \$JVM_ARGS \$MAIN_CLASS_NAME \$PROGRAM_ARGS"
BG_COMMAND="nohup \$RUNNING_COMMAND > /dev/null 2>&1 &"
CHECK_COMMAND="ps -ef | grep -v grep | grep -F \\"\$RUNNING_COMMAND\\" > /dev/null"
KILL_COMMAND="ps -ef | grep -v grep | grep -F \\"\$RUNNING_COMMAND\\" | awk '{ print \\\$2 }' | xargs kill"

start() {
    if eval \$CHECK_COMMAND; then
        echo "Class \$MAIN_CLASS_NAME is already running"
        return 1
    else
        eval \$BG_COMMAND
    fi
}

stop() {
    if eval \$CHECK_COMMAND; then
        eval \$KILL_COMMAND
    else
        echo "Class \$MAIN_CLASS_NAME is not running"
        return 1
    fi
}

console() {
    if eval \$CHECK_COMMAND; then
        echo "Class \$MAIN_CLASS_NAME is already running"
        return 1
    else
        eval \$RUNNING_COMMAND
    fi
}

restart() {
    eval \$KILL_COMMAND
    eval \$BG_COMMAND
}

if [ \$1 == "start" ]; then
    start
elif [ \$1 == "stop" ]; then
    stop
elif [ \$1 == "restart" ]; then
    restart
elif [ \$1 == "console" ]; then
    console
else
    echo "Unknown command!"
    exit 1
fi